{% extends 'base.html' %}

{% block content %}
<div class="col-xs-12 col-md-6">
<h1 class="display-1">{{ config.APP_NAME }}</h1>
<p class="lead">A weight tracking site without all the extra crap.</p>
</div>
<div class="col-xs-12 col-md-6">
<h3>Create Your Weight Tracking Log</h3>
<form method="POST" action="{{ url_for('core.new_log') }}">
    {{ form.csrf_token }}
  <div class="form-group row">
    <label for="example-search-input" class="col-xs-2 col-form-label">{{ form.name.label }}</label>
    <div class="col-xs-10">
      <input class="form-control" type="text" name="{{ form.name.name }}" id="{{ form.name.id }}">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">{{ form.email.label }}</label>
    <div class="col-xs-10">
      <input class="form-control" type="text" name="{{ form.email.name }} id="{{ form.email.id }}">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>
</div>
{% endblock %}