{% extends 'base.html' %}

{% block content %}
<div class="col-xs-12 col-md-6">
<h1 class="display-1">{{ config.APP_NAME }}</h1>
<p class="lead">A weight tracking site without all the extra crap.</p>
</div>
<div class="col-xs-12 col-md-6">
  <div class="card card-block">
    <h4 class="card-title text-xs-center">Create Your Weight Log</h4>
    <p class="card-text">Lorem ipsum</p>
    <form method="POST" action="{{ url_for('core.new_log') }}">
        {{ form.csrf_token }}
      <div class="form-group row">
        <label for="example-search-input" class="col-xs-4 col-form-label">{{ form.name.label }}<sup>*</sup></label>
        <div class="col-xs-8">
          {{ form.name(class='form-control') }}
        </div>
      </div>
      <div class="form-group row">
        <div class="col-xs-8 offset-xs-4">
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>
{% endblock %}