{% extends 'base.html' %}

{% block content %}
<h1>New Weight Log</h1>
<form method="POST">
  {{ form.csrf_token }}
  <div class="form-group row">
    <label for="example-search-input" class="col-xs-2 col-form-label">{{ form.name.label }}<sup>*</sup></label>
    <div class="col-xs-10">
      {{ form.name(class='form-control') }}
      {% if form.name.errors %}
      <small class="text-danger">
        {{ form.name.errors[0] }}
      </small>
      {% endif %}

    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">{{ form.email.label }}</label>
    <div class="col-xs-10">
      <input class="form-control" type="text" name="{{ form.email.name }}" id="{{ form.email.id }}">
      <p id="passwordHelpBlock" class="form-text text-muted">
        Totally optional. If you provide your email address, we will send you
        an email with your unique log url. You'll also be able to recover your url
        later if you forget it.
      </p>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xs-10 offset-xs-2">
      <button type="submit" class="btn btn-primary">Create</button>
  </form>
{% endblock %}